# Licensed under the Apache-2.0 license

[package]
name = "simulator"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ctrlc = { version = "3.0", features = ["termination"] }
openssl = "0.10"
clap = { version = "4.1.8", features = ["derive"] }
log = "0.4.17"
env_logger = "0.10.0"
dpe = { path = "../dpe" }
crypto = { path = "../crypto", features = ["openssl"] }
platform = { path = "../platform" }
