# Licensed under the Apache-2.0 license

[workspace]

members = [
    "dpe",
    "crypto",
    "platform",
    "simulator",
    "tools",
]

[workspace.dependencies]
caliptra-cfi-lib = { git = "https://github.com/chipsalliance/caliptra-cfi.git", package = "caliptra-cfi-lib", rev = "767d4ef59a106aea683b883c07bd65456fb3ba6b", default-features = false }
caliptra-cfi-derive = { git = "https://github.com/chipsalliance/caliptra-cfi.git", package = "caliptra-cfi-derive", rev = "767d4ef59a106aea683b883c07bd65456fb3ba6b"}
zerocopy = { version = "0.8.17", features = ["derive"] }
constant_time_eq = "0.3.0"

[profile.firmware]
inherits = "release"
panic = "abort"
lto = true
opt-level = "s"
codegen-units = 1
