# Licensed under the Apache-2.0 license

[package]
name = "tools"
version = "0.1.0"
edition = "2021"

[features]
default = ["p384"]
# Run ARBITRARY_MAX_HANDLES=n cargo build --features arbitrary_max_handles to use this feature
arbitrary_max_handles = ["dpe/arbitrary_max_handles"]
p256 = ["dpe/p256"]
p384 = ["dpe/p384"]
# TODO(clundin): Placeholder name until we decide pattern for DPE profiles and feature flags.
ml-dsa = [
  "dpe/ml-dsa"
]
hybrid = ["p384", "ml-dsa"]

[dependencies]
anyhow = "1.0.70"
dpe = {path = "../dpe", default-features = false, features = ["no-cfi"]}
clap = { version = "4.1.8", features = ["derive"] }
crypto = {path = "../crypto", default-features = false, features = ["deterministic_rand", "rustcrypto"]}
pem = "2"
platform = {path = "../platform", default-features = false, features = ["rustcrypto"]}
zerocopy.workspace = true

[[bin]]
name = "sample_dpe_cert"
path = "src/sample_dpe_cert.rs"
target = 'cfg("test")'

[[bin]]
name = "cert-size"
path = "src/cert_size.rs"
