# Licensed under the Apache-2.0 license

[package]
name = "crypto"
version = "0.1.0"
edition = "2021"

[features]
openssl = ["dep:openssl", "dep:hkdf", "dep:sha2"]
deterministic_rand = ["openssl"]

[dependencies]
hkdf = {version = "0.12.3", optional = true}
openssl = {version = "0.10", optional = true}
sha2 = {version = "0.10.6", optional = true}

[dev-dependencies]
strum = "0.24"
strum_macros = "0.24"

[build-dependencies]
openssl = "0.10"
