# Licensed under the Apache-2.0 license

[package]
name = "dpe"
version = "0.1.0"
edition = "2021"

[features]
default = ["dpe_profile_p256_sha256"]
dpe_profile_p256_sha256 = []
dpe_profile_p384_sha384 = []

[dependencies]
crypto = {path = "../crypto"}
platform = {path = "../platform"}
zerocopy = "0.6.1"

[dev-dependencies]
asn1 = "0.13.0"
openssl = "0.10"
x509-parser = "0.14.0"
crypto = {path = "../crypto", features = ["deterministic_rand"]}
