name: License checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check_file_headers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: check license header
        run: ci-tools/file-header-fix.sh --check
