name: Rust Lint, Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  dpe:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        profile: [p256, p384, ml-dsa, hybrid]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Cache cargo registry and build
        uses: Swatinem/rust-cache@v2
      - name: Install clippy
        run: rustup component add clippy
      - name: rustfmt check
        run: cargo fmt -p dpe -v --check
      - name: clippy
        run: cargo clippy -p dpe --features=${{ matrix.profile }} --no-default-features -- --deny=warnings
      - name: build
        run: cargo build -p dpe --features=${{ matrix.profile }} --no-default-features
      - name: build(cfi)
        run: cargo build -p dpe --features=${{ matrix.profile }},cfi --no-default-features
      - name: test
        if: ${{ !(matrix.profile == 'hybrid') }}
        run: cargo test -p dpe --features=${{ matrix.profile }},cfi --no-default-features -- --test-threads=1
  crypto:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Cache cargo registry and build
        uses: Swatinem/rust-cache@v2
      - name: Install clippy
        run: rustup component add clippy
      - name: rustfmt check
        run: cargo fmt -p crypto -v --check
      - name: clippy
        run: cargo clippy -p crypto --no-default-features -- --deny=warnings
      - name: build
        run: cargo build -p crypto --no-default-features
      - name: build-release
        run: cargo build --release -p crypto --no-default-features
      - name: test
        run: cargo test -p crypto --no-default-features
  platform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Cache cargo registry and build
        uses: Swatinem/rust-cache@v2
      - name: Install clippy
        run: rustup component add clippy
      - name: rustfmt check
        run: cargo fmt -p platform -v --check
      - name: clippy
        run: cargo clippy -p platform --no-default-features -- --deny=warnings
      - name: build
        run: cargo build -p platform --no-default-features
      - name: build-release
        run: cargo build --release -p platform --no-default-features
      - name: test
        run: cargo test -p platform --no-default-features
  tools_and_simulator:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        profile: [p256, p384, ml-dsa]
        package: [tools, simulator]
        include:
          - package: simulator
            crypto: rustcrypto
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Cache cargo registry and build
        uses: Swatinem/rust-cache@v2
      - name: Install clippy
        run: rustup component add clippy
      - name: rustfmt check
        run: cargo fmt -p ${{ matrix.package }} -v --check
      - name: clippy
        run: cargo clippy -p ${{ matrix.package }} --features=${{ matrix.profile }},${{ matrix.crypto }} --no-default-features -- --deny=warnings
      - name: build
        run: cargo build -p ${{ matrix.package }} --features=${{ matrix.profile }},${{ matrix.crypto }} --no-default-features
      - name: build-release
        run: cargo build --release -p ${{ matrix.package }} --features=${{ matrix.profile }},${{ matrix.crypto }} --no-default-features
      - name: test
        run: cargo test -p ${{ matrix.package }} --features=${{ matrix.profile }},${{ matrix.crypto }} --no-default-features
